[Desktop Entry]
Type=Application
Name=QMednafen
GenericName=Mednafen front-end
Comment=Multi-platform frontend (GUI) for the Mednafen emulator (Qt 5)
Icon=qmednafen
Exec=qmednafen
Encoding=UTF-8
Categories=Game;Emulator;
Terminal=false
